@page "/Login"
@using Models
@inherits LayoutComponentBase

<h3>Login</h3>




@code {
    private User user = new User();

    private void HandleLogin() 
    {
        Console.WriteLine("Log me in!");
    } 
}
