# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Blazor.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../../:\Users\HP\SEP3\Group6\ThreeLayeredSystem\src\main\java\ClientService\Blazor\.idea\.idea.Blazor.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
