# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.Antonios 1st assignment.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Antonio\Downloads\Antonios 1st assignment (1)\Antonios 1st assignment\.idea\.idea.Antonios 1st assignment.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
