@page "/"

<h1>Hello welcome to Antonios first assignment!</h1>

 <body data-spy="scroll" data-target="#navbarResponsive">
        <!--Start Home Section-->
 <div id="home" class="offset">
     <!-- Start Navigation-->



</div>
   <!--Start Landing page Section-->
 	<div class="landing">
 		<div class="home-wrap">
 		<div class="home-inner">
 		  </div>	
 		</div>
 	</div>
 
 	<div class="caption text-center">
 		<h1> Welcome User</h1>
 		<h3>Antonio Adding deleting and editing Assignment</h3>
 	</div>
 	<!--End Landing page Section-->

 </body>